@use '../utilities/' as *;

.card {
    background: var(--dark-card);
    color: var(--dark-text1);
    width: rem(255);
    padding: rem(25);
    text-align: center;

    &--facebook {
            
    }
    &--twitter {

    }
    &--instagram {

    }
    &--youtube {

    }

    &__platform {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: rem(28);
    }

    &__icon {
        margin-right: rem(8);
        &--facebook {
            
        }
        &--twitter {

        }
        &--instagram {

        }
        &--youtube {

        }
    }

    &__username {
        font-size: rem(12);
        font-weight: 700;
    }

    &__followers {
        margin-bottom: rem(25);
    }

    &__count {
        color: var(--dark-text2);
        font-weight: 700;
        letter-spacing: rem(-2);
        line-height: 1;
        margin-bottom: rem(5);

        &--big {
            font-size: rem(56);
        }

        &--small {
            font-size: rem(32);
        }
    }

    &__label {
        color: var(--dark-text1);
        font-size: rem(12);
        text-transform: uppercase;
        letter-spacing: rem(5);
        font-weight: 400;
        
    }

    &__change {
        font-size: rem(12);
        font-weight: 700;

        &--up {
            color: var(--limegreen);
        }

        &--down {
            color: var(--brightred);
        }
    }
}